@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  color: rgb(53, 53, 53);
}

* label {
  color: rgb(53, 53, 53);
}

@media (min-width: 770px) {
  main {
    margin-left: 250px;
  }
}
